@charset "utf-8";

/* Contact link styles */

#icon-links {
    display: flex;
    justify-content: flex-start;
    margin-left: 5rem;
    padding: 0 1rem;
    /*margin: 0 auto;*/
    /*width: 50%;*/
}

#github {
    height: 40px;
    padding-right: 1rem;
}

#linkedin {
    height: 40px;
}


/* Form styles */

#form {
    width: 45%;
    margin-left: 5rem;
    /*margin: 0 auto;*/
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form-field label {
    font-size: .8em;
    font-weight: bold;
}

.form-field input, .form-field textarea {
    font-size: 1em;
    padding: 5px;
    margin-top: 8px;
}

#form-caption {
    font-size: .8em;
    font-style: italic;
}

input[type="submit"] {
    background: #5BA199;
    color: white;
    margin: 1rem 0;
    margin-left: 5rem;
    padding: 5px;
    width: 10rem;
    border: 1px solid #5BA199;
}
