@charset "utf-8";

ul li {
    /*width: 25%;*/
    text-align: right;
    list-style-type: none;
}

/* Digital Art Image styles */

div.row-content {
    min-height: 40rem;
    border: 20px double #DDBEAA;
    background: white;
    margin: 2rem auto 3rem auto;
    padding: 15px 20px;
}

div#art-text > p {
    margin: 40px auto;
    width: 90%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
}

div#digital-art-container {
    display: flex;
    justify-content: space-around;
}

img#mushroom {
    height: 500px;
    border: 8px solid #5BA199;
}

img#mushroom:hover {
    border: 8px solid #DDBEAA;
    scale: 1.1;
}
img#mushroom:active {
    border: 8px solid peru;
    scale: 1.1;
}

img#lightboard {
    height: 500px;
    border: 8px solid #5BA199;
}

img#lightboard:hover {
    border: 8px solid #DDBEAA;
    scale: 1.1;
}


/* Writing section styles */

div#writing > p {
    font-size: 18px;
    padding: 20px 20px;
    text-align: justify;
    width: 50%;
    line-height: 1.8;
}

img#thomas_book_cover {
    width: 35%;
    padding: 20px 60px 0 0;
    float: right;
}

/* Food styles */

div#food-row {
    column-count: 3;
    display: flex;
    justify-content: space-around;
}

div.food-item {
    margin-top: 2rem;
    position: relative;

}
div#baking > p {
    font-size: 18px;
    line-height: 1.8;
}

div.food-item img {
    width: 400px;
    height: 550px;
    /*opacity: .3;*/
}

div.food-item-caption {
    width: 100%;
    background-color: #5BA199;
    color: white;
    font-family: Cinzel, serif;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    /*left: 8px;*/
    font-size: 24px;
}
